.event-details {
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .event-info {
    border-bottom: 1px solid #ddd;
    color: white;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  
  .event-info h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .event-inline-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .event-date-time-venue i,
  .event-venue i {
    margin-right: 5px;
  }
  
  .event-date-time,
  .event-venue {
    font-size: 14px;
    color: white;
  }
  
  .event-description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .event-rules h2,
  .event-prizes h2,
  .event-contact h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .event-rules ul,
  .event-prizes ul,
  .event-contact ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 10px;
    font-size: 14px;
    color: white;
  }
  .event-form .cta-btn {
    display: inline-block;
    background-color: #ffc451;
    color: #151515;
    padding: 12px 24px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s, transform 0.3s;
    border: none;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  .event-form .cta-btn:hover {
    background-color: #f16431;
    color: white;
  }
  
  .event-form .cta-btn:active {
    transform: scale(0.98);
  }
  
  @media (hover: hover) {
    .event-form .cta-btn:hover {
        background-color: black;
        color: white;
      }
  }